$primary-color: #ffffff;
$secondary-color: #292f36;
$accent-color: #ff8c42;
$title-font: "Mars", "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
$default-font: "Roboto", sans-serif;
